<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/vue.js"></script>
    <script defer src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Kanban Board</title>
</head>
<body>
    <div id="app">
        <sidebar :tasks="allTasks"></sidebar>
        
        <div class="content">
            <h1>Kanban Board</h1>
            
            <task-form 
                v-if="!editingTask"
                @save-edit="saveEdit"
            ></task-form>

            <task-form 
                v-if="editingTask"
                :task="editingTask"
                @save-edit="saveEdit"
            ></task-form>
                    
            <div class="board-container">
                <column 
                    v-for="col in columns" 
                    :key="col.id"
                    :column="col"
                    :all-tasks="allTasks"
                    @edit-task="startEdit"
                    @delete-task="deleteTask"
                    @move-task="moveTask"
                ></column>
            </div>
        </div>
    </div>
</body>
</html>