<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/vue.js"></script>
    <script defer src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Kanban Board</title>
</head>
<body>
    <div id="app">
        <h1>Kanban Board</h1>
        
        <add-task-form></add-task-form>
        
        <edit-task-form 
            v-if="editingTask"
            :task="editingTask"
            @save-edit="saveEdit"
            @cancel-edit="cancelEdit"
        ></edit-task-form>
        
        <div class="board-container">
            <column 
                v-for="col in columns" 
                :key="col.id"
                :column="col"
                :all-tasks="allTasks"
                @edit-task="startEdit"
                @delete-task="deleteTask"
            ></column>
        </div>
    </div>
</body>
</html>